doctype html
html
head
	meta(charset="UTF-8")
	title Заголовок
	meta(name="description", content="")
	link(rel="shortcut icon", href="../../../../images/favicon.png", type="image/png")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	link(rel="stylesheet", href="../../libs/bootstrap/css/bootstrap.min.css")
	//link(rel="stylesheet", href="../../libs/animate/animate.css")
	link(rel="stylesheet", href="css/main.min.css")
	script(src="../../libs/modernizr/modernizr.js")
body
	.my-container
		header
			.top
				a(href="../../index.html")
					.cart 
						span 4
						p items in cart
					a.login(href="../../index.html") Login
					a.register(href="../../index.html") Register
			.middle 	
				.logo
					a(href="../../index.html") Kinetico
				ul
					li
						a(href="../../index.html") Home
					li
						a(href="../../index.html") About
					li
						a(href="../../index.html") Blog
					li
						a(href="../../index.html") Shop
					li
						a(href="../../index.html") Contact
			.bottom 
				p.small Writing about awesomness
				p.big Blog
		.content 
			.articles
				article
					img(src="img/a1.png" alt="alt")
					.inner 
						.header 
							.date 
								p.month dec 
								p.number 12
							a.title(href="../../index.html") Designing interfaces for the social web
							.discription 
								p Written by 
									a.autor(href="../../index.html") JohnPixle
									|, in Category 
									a.cat-href(href="../../index.html") Technology
						.text 
							p Designing for the new web standards can be an interesting proccess. With so many viewports and device specs, designing soon becomes a neverending process. Designing for the new web standards can be an interesting proccess. With so many viewports and device specs, designing soon becomes a neverending process. Designing for the new web standards can be an interesting proccess. With so many viewports and device specs
								a.read-more(href="../../index.html") Read More
				article
					img(src="img/a1.png" alt="alt")
					.inner 
						.header 
							.date 
								p.month dec 
								p.number 12
							a.title(href="../../index.html") Designing interfaces for the social web
							.discription 
								p Written by 
									a.autor(href="../../index.html") JohnPixle
									|, in Category 
									a.cat-href(href="../../index.html") Technology
						.text 
							p Designing for the new web standards can be an interesting proccess. With so many viewports and device specs, designing soon becomes a neverending process. Designing for the new web standards can be an interesting proccess. With so many viewports and device specs, designing soon becomes a neverending process. Designing for the new web standards can be an interesting proccess. With so many viewports and device specs
								a.read-more(href="../../index.html") Read More
				article
					img(src="img/a1.png" alt="alt")
					.inner 
						.header 
							.date 
								p.month dec 
								p.number 12
							a.title(href="../../index.html") Designing interfaces for the social web
							.discription 
								p Written by 
									a.autor(href="../../index.html") JohnPixle
									|, in Category 
									a.cat-href(href="../../index.html") Technology
						.text 
							p Designing for the new web standards can be an interesting proccess. With so many viewports and device specs, designing soon becomes a neverending process. Designing for the new web standards can be an interesting proccess. With so many viewports and device specs, designing soon becomes a neverending process. Designing for the new web standards can be an interesting proccess. With so many viewports and device specs
								a.read-more(href="../../index.html") Read More
				article
					img(src="img/a1.png" alt="alt")
					.inner 
						.header 
							.date 
								p.month dec 
								p.number 12
							a.title(href="../../index.html") Designing interfaces for the social web
							.discription 
								p Written by 
									a.autor(href="../../index.html") JohnPixle
									|, in Category 
									a.cat-href(href="../../index.html") Technology
						.text 
							p Designing for the new web standards can be an interesting proccess. With so many viewports and device specs, designing soon becomes a neverending process. Designing for the new web standards can be an interesting proccess. With so many viewports and device specs, designing soon becomes a neverending process. Designing for the new web standards can be an interesting proccess. With so many viewports and device specs
								a.read-more(href="../../index.html") Read More
				.pages
					a.several(href="../../index.html") 1
					a.several(href="../../index.html") 2
					a.several(href="../../index.html") 3
					a.several(href="../../index.html") 4
					a.several(href="../../index.html") 5
					a.arrow(href="../../index.html")
						.pic.right
					a.arrow(href="../../index.html")
						.pic.left
			.side-menu
				.get-connected.separator
					p.orange Get connected
					a.pic.forrst(href="../../index.html")
					a.pic.dribbble(href="../../index.html")
					a.pic.twitter(href="../../index.html")
					a.pic.facebook(href="../../index.html")
					a.pic.pinterest(href="../../index.html")
					a.pic.rss(href="../../index.html")
				.search.separator
					p.orange Search
					input(type="text", placeholder="Enter keyword & hit enter")
					input(type="button")
				.latest.separator
					p.orange Latest comments
					.comment
						a.avatar(href="../../index.html")
							img(src="img/avatar.png", alt="#")
						a.header(href="../../index.html") JohPixle
						span 2 hours ago
						p The Mouse did not notice this question, but hurriedly went on. it continued, turning to Alice as it spoke.
					.comment
						a.avatar(href="../../index.html")
							img(src="img/avatar.png", alt="#")
						a.header(href="../../index.html") JohPixle
						span 2 hours ago
						p The Mouse did not notice this question, but hurriedly went on. it continued, turning to Alice as it spoke.
					.comment
						a.avatar(href="../../index.html")
							img(src="img/avatar.png", alt="#")
						a.header(href="../../index.html") JohPixle
						span 2 hours ago
						p The Mouse did not notice this question, but hurriedly went on. it continued, turning to Alice as it spoke.
						#yaya
				.popular
					p.orange Popular Product
					#my_carousel.carousel.slide.carousel-fade(data-ride="carousel")
						ol.carousel-indicators
							li.active(data-target="#my_carousel", data-slide-to="0")
							li(data-target="#my_carousel", data-slide-to="1")
							li(data-target="#my_carousel", data-slide-to="2")
						.carousel-inner(role="listbox")
							.item.active
								.box
									img(src="img/popular.png", alt="")
									p.header Square box mockup pack
									p.products 10 product mockups
									p.price $35,99
									input.button(type="button", value="Add to cart")
							.item
								.box
									img(src="img/popular.png", alt="")
									p.header Square box mockup pack
									p.products 10 product mockups
									p.price $35,99
									input.button(type="button", value="Add to cart")
		footer 
			.row
				.col-xs-3
					.wrapper1
						img(src="img/footer_logo.png" alt="")
						p.logo2 Kinetico
						p.discription Kinetico is a simple and elegant commerce theme. Easy to customize, responsive friendly, with a digital  product orientation.
				.col-xs-3
					.wrapper2
						p.header Tags
						.row 
							.col-xs-6
								ul
									li
										a(href="../../index.html") Technology
										span 43
									li
										a(href="../../index.html") Digital Paintings
										span 54
									li
										a(href="../../index.html") Photoshop
										span 27
									li
										a(href="../../index.html") App design
										span 12
							.col-xs-6
								ul
									li
										a(href="../../index.html") Web
										span 123
									li
										a(href="../../index.html") Abstract
										span 4
									li
										a(href="../../index.html") Themes
										span 2
									li
										a(href="../../index.html") Freebies
										span 87
				.col-xs-3
					.wrapper3
						p.header Flickr Photostream
						.row 
							.col-xs-4
								img(src="img/footer_pic.png", alt="")
							.col-xs-4
								img(src="img/footer_pic.png", alt="")
							.col-xs-4
								img(src="img/footer_pic.png", alt="")
						.row
							.col-xs-4
								img(src="img/footer_pic.png", alt="")
							.col-xs-4
								img(src="img/footer_pic.png", alt="")
							.col-xs-4
								img(src="img/footer_pic.png", alt="")
				.col-xs-3
					.wrapper4
						p.header Latest Tweets
						.tweet
							p.text
								a(href="../../index.html") @John Pixle&nbsp
								| Hey what about trying our new set of icons? they are great for the retina display!
								a(href="../../index.html") &nbsphttp://shja.dhs
							p.time &nbsp23 mins ago
						.tweet
							p.text
								a(href="../../index.html") @ThemeForest&nbsp
								| Ok, I think it works now. Thanks.
								p.time &nbsp23 mins ago
		p.copyright Copyright 2016&nbsp&nbsp
			span -&nbsp&nbspKinetico
	.loader
		.loader_inner

	<!- -[if lt IE 9]>
	script(src="../../libs/html5shiv/es5-shim.min.js")
	script(src="../../libs/html5shiv/html5shiv.min.js")
	script(src="../../libs/html5shiv/html5shiv-printshiv.min.js")
	script(src="../../libs/respond/respond.min.js")
	<![endif]-->

	script(src="../../libs/jquery/jquery-1.11.2.min.js")
	script(src="../../libs/bootstrap/js/bootstrap.min.js")
	//script(src="../../libs/waypoints/waypoints.min.js")
	//script(src="../../libs/animate/animate-css.js")
	//script(src="../../libs/plugins-scroll/plugins-scroll.js")
	script(src="js/common.min.js")