html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "PassionOneRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../../../fonts/PassionOne/PassionOne-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PassionOne/PassionOne-Regular.woff") format("woff"), url("../../../fonts/PassionOne/PassionOne-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSansExtrabold";
  font-style: normal;
  font-weight: normal;
  src: url("../../../fonts/OpenSans/OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/OpenSans/OpenSans-Extrabold.woff") format("woff"), url("../../../fonts/OpenSans/OpenSans-Extrabold.ttf") format("truetype"); }
@font-face {
  font-family: "MyriadProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../../../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../../../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype"); }
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "MyriadProRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 300px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  background: url(../img/bg.png) repeat-x top; }

header {
  text-align: center; }
  header .shadow {
    box-shadow: 0 0 200px -80px black;
    height: 500px;
    margin-bottom: 200px; }

a:hover {
  color: #6a4c31; }

.logo {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "PassionOneRegular";
  letter-spacing: 6px;
  text-transform: uppercase; }
  .logo .big {
    display: block;
    font-size: 71px;
    color: white;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
    line-height: 42px; }
    .logo .big:hover {
      text-decoration: none; }
  .logo .small {
    text-decoration: underline;
    color: #b5d1cf;
    font-size: 18px; }
  .logo:after, .logo:before {
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 100px;
    background-color: #b5d1cf; }
  .logo:after {
    left: -120px;
    top: -40px; }
  .logo:before {
    left: 248px;
    top: 31px; }

nav {
  font-size: 14px;
  text-transform: uppercase; }
  nav .line {
    width: 100%;
    position: relative;
    height: 2px;
    background-color: #357894;
    bottom: 0;
    left: 0; }
  nav ul {
    list-style: none;
    background-color: #e3fbfa;
    height: 55px; }
    nav ul li {
      height: 65px;
      display: inline-block;
      font-family: "Trebuchet MS";
      border-right: 1px solid #c2dcdb;
      margin-left: -3px; }
      nav ul li:last-child {
        border: none; }
      nav ul li a {
        position: relative;
        margin-left: -1px;
        display: block;
        height: 65px;
        color: #86a5a3;
        padding: 20px 45px;
        z-index: 3; }
        @media only screen and (min-width: 300px) and (max-width: 991px) {
          nav ul li a {
            padding: 20px 10px;
            font-size: 11px; } }
        nav ul li a:hover, nav ul li a.active {
          text-decoration: none;
          background-color: #839e9c;
          color: white; }
          nav ul li a:hover:after, nav ul li a.active:after {
            right: -1px;
            top: 0px;
            position: absolute;
            content: "";
            display: block;
            height: 65px;
            width: 1px;
            background-color: #839e9c; }

.carousel_wrapper {
  height: 620px;
  padding-top: 10px;
  background-color: #e3fbfa; }

#my_carousel .carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-size: cover; }
#my_carousel .item:nth-child(1) .carousel-caption {
  background-image: url(../img/slider_1.png); }
#my_carousel .item:nth-child(2) .carousel-caption {
  background-image: url(../img/slider_2.png); }
#my_carousel .item:nth-child(3) .carousel-caption {
  background-image: url(../img/slider_3.png); }
#my_carousel .carousel-inner,
#my_carousel .carousel-control,
#my_carousel .item {
  height: 620px; }
#my_carousel .line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d2d9d8;
  z-index: 1;
  top: 597px; }
#my_carousel ol {
  top: 585px;
  width: 150px;
  margin-right: auto;
  margin-left: -65px;
  z-index: 2;
  background-color: #fff; }
  #my_carousel ol li {
    background-color: #839e9c;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: none;
    margin: 0; }
    #my_carousel ol li.active {
      background-color: #6a4c31;
      border: none; }
#my_carousel .text {
  position: absolute;
  top: 500px;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: #FFF; }
  #my_carousel .text p {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 26px;
    font-family: "OpenSansExtrabold";
    color: #839e9c; }
    @media only screen and (min-width: 300px) and (max-width: 660px) {
      #my_carousel .text p {
        font-size: 15px;
        line-height: 24px; } }

.articles {
  margin-top: 40px; }
  .articles .col-md-6 article {
    font-family: "Arial"; }
    .articles .col-md-6 article p {
      font-size: 12px;
      color: #b4b4b4;
      margin-top: 10px; }
      .articles .col-md-6 article p span {
        font-weight: bold; }
  .articles .col-md-6:first-child article {
    text-align: right;
    margin-right: 25px; }
    @media only screen and (min-width: 300px) and (max-width: 991px) {
      .articles .col-md-6:first-child article {
        margin: 0; } }
  .articles .col-md-6:last-child article {
    margin-left: 50px;
    text-align: left; }
    @media only screen and (min-width: 300px) and (max-width: 991px) {
      .articles .col-md-6:last-child article {
        margin: 0; } }
  @media only screen and (min-width: 300px) and (max-width: 660px) {
    .articles .col-md-6 .brown_header {
      line-height: 35px; } }

.read_more {
  text-transform: uppercase;
  text-decoration: underline;
  color: #85a09d;
  font-size: 11px;
  font-weight: bold;
  line-height: 50px; }
  @media only screen and (min-width: 300px) and (max-width: 991px) {
    .read_more {
      line-height: 25px; } }

.brown_header {
  font-size: 36px;
  color: #6a4c31;
  font-family: "PassionOneRegular"; }

.main_profile {
  text-align: center;
  margin-top: 35px; }
  .main_profile:after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d2d9d8;
    margin-top: 5px; }
  .main_profile h3 {
    margin: 0 auto;
    width: 423px;
    text-transform: uppercase;
    font-family: "PassionOneRegular";
    font-size: 36px;
    color: #85a09d;
    border-top: 2px solid #d2d9d8;
    border-bottom: 2px solid #d2d9d8;
    line-height: 40px;
    padding-top: 5px; }
    @media only screen and (min-width: 300px) and (max-width: 660px) {
      .main_profile h3 {
        width: 300px; } }
    .main_profile h3:after {
      content: "";
      height: 1px;
      width: 260px;
      background-color: #d2d9d8;
      display: block;
      position: relative;
      top: 15px;
      margin: 0 auto; }
  .main_profile .row {
    font-family: "Arial";
    margin-top: 40px; }
    .main_profile .row .col-md-2 {
      text-align: left; }
      @media only screen and (min-width: 300px) and (max-width: 991px) {
        .main_profile .row .col-md-2 {
          margin: 40px 0; } }
      .main_profile .row .col-md-2 h4 {
        font-size: 14px;
        color: #6a4c31;
        margin: 10px 0;
        font-weight: bold; }
        @media only screen and (min-width: 300px) and (max-width: 991px) {
          .main_profile .row .col-md-2 h4 {
            font-size: 25px;
            margin: 0; } }
      .main_profile .row .col-md-2 p {
        font-size: 12px;
        color: #b4b4b4; }
      .main_profile .row .col-md-2 .pic {
        height: 120px;
        border: 1px solid lightgray; }
        @media only screen and (min-width: 300px) and (max-width: 991px) {
          .main_profile .row .col-md-2 .pic {
            height: 475px; } }
      .main_profile .row .col-md-2:nth-child(1) .pic {
        background-size: cover;
        background-image: url(../img/client_1.png); }
      .main_profile .row .col-md-2:nth-child(2) .pic {
        background-size: cover;
        background-image: url(../img/client_2.png); }
      .main_profile .row .col-md-2:nth-child(3) .pic {
        background-size: cover;
        background-image: url(../img/client_3.png); }
      .main_profile .row .col-md-2:nth-child(4) .pic {
        background-size: cover;
        background-image: url(../img/client_4.png); }
      .main_profile .row .col-md-2:nth-child(5) .pic {
        background-size: cover;
        background-image: url(../img/client_5.png); }
      .main_profile .row .col-md-2:nth-child(6) .pic {
        background-size: cover;
        background-image: url(../img/client_6.png); }

.footer_menu {
  margin-top: 30px; }
  .footer_menu:after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d2d9d8;
    margin-top: 20px; }
  .footer_menu ul {
    list-style-image: url(../img/arrow.png); }
    @media only screen and (min-width: 300px) and (max-width: 660px) {
      .footer_menu ul li {
        margin: 10px 5px;
        line-height: 15px; } }
    .footer_menu ul a {
      text-transform: uppercase;
      font-family: "Arial";
      font-size: 12px;
      color: #85a09d; }
      @media only screen and (min-width: 300px) and (max-width: 660px) {
        .footer_menu ul a {
          font-size: 11px; } }
      .footer_menu ul a:hover {
        color: #6a4c31; }
  .footer_menu .cyan_header {
    font-family: "PassionOneRegular";
    font-size: 36px;
    color: #85a09d;
    line-height: 40px;
    padding-top: 5px; }
  .footer_menu .quote {
    background-color: #e5e9e8;
    padding: 13px; }
    .footer_menu .quote p {
      color: #6a4c31;
      font-family: "Arial";
      font-weight: bold;
      font-size: 12px; }
      .footer_menu .quote p:before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background-image: url(../img/arrow_2.png);
        float: left;
        margin-right: 9px; }
      .footer_menu .quote p:after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url(../img/arrow_2.png);
        background-position: 15px 0;
        margin-left: 9px; }
  .footer_menu .autor {
    float: right;
    color: #85a09d;
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    margin-top: 5px;
    font-style: italic; }
    .footer_menu .autor:before {
      content: "";
      position: relative;
      top: -5px;
      right: 10px;
      float: left;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 25px 25px 0;
      border-color: transparent #e5e9e8 transparent transparent; }
    .footer_menu .autor span {
      font-size: 12px; }
  @media only screen and (min-width: 300px) and (max-width: 991px) {
    .footer_menu .col-md-3 {
      margin: 20px 0; } }
  @media only screen and (min-width: 300px) and (max-width: 660px) {
    .footer_menu .brown_header {
      font-size: 25px; } }

footer {
  height: 100px;
  text-align: center; }
  footer p:first-child {
    margin-top: 10px;
    display: block;
    font-size: 24px;
    color: #b4b4b4;
    font-family: "PassionOneRegular";
    letter-spacing: 3px; }
    footer p:first-child span {
      font-size: 12px;
      font-family: "Arial";
      letter-spacing: normal; }
    footer p:first-child:hover {
      text-decoration: none; }
  footer p:last-child {
    margin-top: -5px;
    color: #b4b4b4;
    font-size: 12px;
    font-family: "Arial"; }
    footer p:last-child a {
      color: #a6b9b7;
      text-decoration: underline; }
