<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Shipwars
    script(src='node_modules/es6-shim/es6-shim.js')
    script(src='node_modules/systemjs/dist/system.js')
    script(src='node_modules/typescript/lib/typescript.js')
    script(src='src/systemjsConfig.js')
body
    