@font-face {
	font-family: "Monaco";
	src: url("../../../fonts/Monaco/Monaco.eot");
	src: url("../../../fonts/Monaco/Monaco.eot?#iefix") format("embedded-opentype"),
			 url("../../../fonts/Monaco/Monaco.woff") format("woff"),
			 url("../../../fonts/Monaco/Monaco.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
*
{
	font-family: Monaco, sans-serif;
	padding: 0px;
	margin: 0px;
}
.menu
{
	margin: 100px;
	font-size: 40px;
}
.chess
{
	padding: 0px 5px 5px 5px;
	font-size: 60px;
	color: black;
	text-decoration: none;
}
.chess:hover
{
	text-decoration: underline;
}
.indent
{
	padding: 30px 0px 30px 0px;
}
.chess_ajax
{
	padding: 0px 20px 5px 5px;
	font-size: 50px;
	color: orange;
	text-decoration: underline;
	cursor: default;
}
.chess_websocket
{
	padding: 0px 20px 5px 5px;
	font-size: 60px;
	color: red;
	text-decoration: line-through;
	cursor: default;
}